* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --white: #FFFFFF;
  --black: #000;
  --gray1: #09090A; //background  
  --gray2: #121214; //eleements
  --gray3: #222222; //bars
  --gray4: #323238; //divider/stroke
  --gray5: #E1E1E6; //title
  --gray6: #C4C4CC; //text
  --gray7: #8D8D99; //text apoio
  --green-dark: #015F43;
  --green: #00875F;
  --green-light: #00B37E;
  --blue-dark: #06067e;
  --blue-light: #0808d8;
  --blue: #81D8F7;
  --warning: #FBA94C;
  --red-error: #F75A68;

  --bg-header: #3405dd;


  --background: #FFF;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     --white: #000;
//     --black: #FFF;
//     --background: #000;
//     --bg-header: rgb(2, 44, 28);
//   }
// }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 14px
  }
}